@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&family=Poppins:wght@400;700&display=swap');

body {
    font-family: 'Cairo', 'Poppins', sans-serif;
  
}
.des{
    font-size: 1.5em;
}
.my-nav {
    background-color:#543fbd;
    height: 6rem;
    color: #F0FFFF;

}
.nav-link ,.navbar-brand
{
    color: #ededed;
}

.card-cat {
    font-size: 0.75rem;
    opacity: 0.5;
}

.first-card {
    background: linear-gradient(90deg, #281e5b, #292055);
    color: #F0FFFF;
}
.first-card .card-title{
    font-size: 1em;
}
.first-card .card-tbody{
    font-size: 1.5em;
}
.my-img
{
    height: 70%;
   
    object-fit: fill;
}
.title {
    position: relative;
    display: inline-block;
    font-size: 30px;
    color: #333;
  }
  
  .title::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: #007bff;
    left: 0;
    bottom: -5px;
    transform: scaleX(1);
    transition: transform 0.3s ease-in-out;
  }
  
.my-card-text
{
    font-size: small;
    opacity: 0.5;
}
  


.my-card:hover {
    transform: scale(1.05);
}
.mostread-order{
    opacity: 0.5;
    font-size: larger;
}
footer{
    background:linear-gradient( rgb(245, 245, 248), #ededed);
    font-size: 0.75em;
}

.news-title
{
    font-size: 2.5em;
}  
.date{
    opacity: 0.7;
}
.v-divider
{
    height: 1.5em;
    width: 0.1em;
    background-color: #fafafa;

}